<div class="mx-auto px-4 py-4 sm:px-8 "  style="width: 90%;">
  <!-- Header -->
  <app-main-header></app-main-header>
  <!-- end Header -->
  
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">


      <app-map class="flex min-h-[40rem] col-span-3 rounded-lg bg-white p-8 dark:bg-night-700"></app-map>
      
    <!-- end Dual Card -->
    <div class="flex min-h-[200px] flex-col col-span-3 rounded-lg bg-white p-8 dark:bg-night-700 "></div>
    <!-- Single Card -->
    <div api-stacked-column class="flex flex-col col-span-2 rounded-lg bg-white p-8 dark:bg-night-700 ">
  
    </div>
    

    <div sum-bar class="flex min-h-[400px] flex-col col-span-1 rounded-lg bg-white p-8 dark:bg-night-700 "></div>
    
    

    </div>
  </div>

