
<div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
    <div>
  
      <apx-chart class="flex flex-col-2 col-span-3"
        [series]="chartOptionsCar.nonaxisseries!"
        [chart]="chartOptionsCar.chart!"
        [legend]="chartOptionsCar.legend!"
        [dataLabels]="chartOptionsCar.dataLabels!"
        [fill]="chartOptionsCar.fill!"
        [stroke]="chartOptionsCar.stroke!"
        [xaxis]="chartOptionsCar.xaxis!"
        [yaxis]="chartOptionsCar.yaxis!"
        [responsive]="chartOptionsCar.responsive!"
        [states]="chartOptionsCar.states!"
        [tooltip]="chartOptionsCar.tooltip!"
        [colors]="chartOptionsCar.colors!"
        [grid]="chartOptionsCar.grid!"
        [title]="chartOptionsCar.title!"
        [theme]="chartOptionsCar.theme!"
        [plotOptions]="chartOptionsCar.plotOptions!"
        [labels]="chartOptionsCar.labels"
      ></apx-chart>
    </div>
  
    <div>
  
      <apx-chart class="flex"
        [series]="chartOptionsMotorcycle.nonaxisseries!"
        [chart]="chartOptionsMotorcycle.chart!"
        [legend]="chartOptionsMotorcycle.legend!"
        [dataLabels]="chartOptionsMotorcycle.dataLabels!"
        [fill]="chartOptionsMotorcycle.fill!"
        [stroke]="chartOptionsMotorcycle.stroke!"
        [xaxis]="chartOptionsMotorcycle.xaxis!"
        [yaxis]="chartOptionsMotorcycle.yaxis!"
        [responsive]="chartOptionsMotorcycle.responsive!"
        [states]="chartOptionsMotorcycle.states!"
        [tooltip]="chartOptionsMotorcycle.tooltip!"
        [colors]="chartOptionsMotorcycle.colors!"
        [grid]="chartOptionsMotorcycle.grid!"
        [title]="chartOptionsMotorcycle.title!"
        [theme]="chartOptionsMotorcycle.theme!"
        [plotOptions]="chartOptionsMotorcycle.plotOptions!"
        [labels]="chartOptionsMotorcycle.labels"
      ></apx-chart>
    </div>
  
    <div>
  
      <apx-chart class="flex-col-2"
        [series]="chartOptionsTruck.nonaxisseries!"
        [chart]="chartOptionsTruck.chart!"
        [legend]="chartOptionsTruck.legend!"
        [dataLabels]="chartOptionsTruck.dataLabels!"
        [fill]="chartOptionsTruck.fill!"
        [stroke]="chartOptionsTruck.stroke!"
        [xaxis]="chartOptionsTruck.xaxis!"
        [yaxis]="chartOptionsTruck.yaxis!"
        [responsive]="chartOptionsTruck.responsive!"
        [states]="chartOptionsTruck.states!"
        [tooltip]="chartOptionsTruck.tooltip!"
        [colors]="chartOptionsTruck.colors!"
        [grid]="chartOptionsTruck.grid!"
        [title]="chartOptionsTruck.title!"
        [theme]="chartOptionsTruck.theme!"
        [plotOptions]="chartOptionsTruck.plotOptions!"
        [labels]="chartOptionsTruck.labels"
      ></apx-chart>
    </div>
  </div>