<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
  <!-- Header -->
  
  <app-analytics-header></app-analytics-header>
  <!-- Content -->
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-10">
    <div api-donut class="flex min-h-[320px] flex-col-2 col-span-10 rounded-lg bg-white p-8 dark:bg-night-700 "></div>
    <!-- end Single Card -->
    <!-- Single Card -->
    <div PCUchart class="flex min-h-[320px] flex-col-2 col-span-7 rounded-lg bg-white p-8 dark:bg-night-700 "></div>
    <!-- end Single Card -->

    <div speed-gauge class="flex min-h-[320px] flex-col-2 col-span-3 rounded-lg bg-white p-8 dark:bg-night-700 "></div>
  </div>
</div>
