<div class="blackdrop-overlay"></div>
<div class="flex flex-row modal-overlay  z-[20]">
  <div class="modal-container scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin -thumb-white scrollbar-track-gray-100 dark:scrollbar-thumb-night-700 dark:scrollbar-track-night-800 grid grid-cols-1  justify-items-between rounded-lg z-[20]">
    <div class="modal-header sticky top-0  z-[10] uppercase flex items-center ">

        <div *ngIf="jsonData.length > 0">
          <h2>{{ jsonData[locationNumberNum - 1]?.location_name }}</h2>
        </div>
        <div>
          <img src="assets/icons/close.svg" alt="Close" class="close-button py-4" (click)="closeModal()" />
        </div>

    </div>

    <div class="flex-col justify-items-between">
      <div class="modal-content grid grid-cols-1 lg:grid-cols-2 gap-2">
        <div *ngFor="let camera of jsonData[locationNumberNum - 1]?.cameras; let i = index" class="w-full">
          <div class="video-player-wrapper">
            <video controls class="w-full">
              <source [src]="camera.streaming_link" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
